#container{
    display: flex;   
    justify-content: space-between;
    align-items:center;
    margin: 10px 20px;
}

input{
    border:1px solid black;
    border-radius:8px;
    height: 30px;
    text-align: center;
}

#Search{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Search img{
    width: 25px;
    height: 25px;
    overflow: hidden;
}

#Search button{
    width: 40px;
    height: 40px;
    cursor:pointer;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
}